In [71]:
# importing libraries
import pandas as pd
import numpy as np

In [72]:
# reading files
data = pd.read_csv('Admission_Predict_new.csv', encoding = 'latin-1')
#u = pd.read_csv('Admission_predict.csv', encoding = 'latin-1')

In [73]:
data.columns

Index(['Serial_No.', 'GREScore', 'TOEFLScore', 'University_Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Admit '],
      dtype='object')

In [74]:
data.head()

,Serial_No.,GREScore,TOEFLScore,University_Rating,SOP,LOR,CGPA,Research,Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [75]:
str(data)

'     Serial_No.  GREScore  TOEFLScore  University_Rating  SOP  LOR   CGPA  \\\n0             1       337         118                  4  4.5   4.5  9.65   \n1             2       324         107                  4  4.0   4.5  8.87   \n2             3       316         104                  3  3.0   3.5  8.00   \n3             4       322         110                  3  3.5   2.5  8.67   \n4             5       314         103                  2  2.0   3.0  8.21   \n..          ...       ...         ...                ...  ...   ...   ...   \n394         396       324         110                  3  3.5   3.5  9.04   \n395         397       325         107                  3  3.0   3.5  9.11   \n396         398       330         116                  4  5.0   4.5  9.45   \n397         399       312         103                  3  3.5   4.0  8.78   \n398         400       333         117                  4  5.0   4.0  9.66   \n\n     Research  Admit   \n0           1    0.92  \n1           1    0.76  \n2           1    0.72  \n3           1    0.80  \n4           0    0.65  \n..        ...     ...  \n394         1    0.82  \n395         1    0.84  \n396         1    0.91  \n397         0    0.67  \n398         1    0.95  \n\n[399 rows x 9 columns]'

In [76]:
data=data.rename(columns={'Admit ':'Admit'})

In [77]:
rating = pd.DataFrame(data.groupby('GREScore')['University_Rating'].mean())    
rating.head(20)

          University_Rating
GREScore
290                2.500000
293                2.000000
294                1.000000
295                1.750000
296                1.800000
297                1.750000
298                1.857143
299                2.125000
300                2.111111
301                2.500000
302                1.800000
303                2.800000
304                2.500000
305                2.500000
306                2.000000
307                2.625000
308                2.727273
309                2.833333
310                2.875000
311                2.333333

In [78]:
data=data.fillna(-999)

In [79]:
rating.describe()

       University_Rating
count          49.000000
mean            3.082709
std             0.994860
min             1.000000
25%             2.500000
50%             2.818182
75%             3.888889
max             4.800000

In [82]:
rating.sort_values('University_Rating', ascending=False).head()

          University_Rating
GREScore
336                4.800000
335                4.750000
333                4.750000
339                4.666667
334                4.571429

In [88]:
# Preparing data table for analysis    
  
ratings_pivot = pd.pivot_table(data=data, values='TOEFLScore', index='GREScore', columns='University_Rating')    
        
ratings_pivot.head()

University_Rating      1          2   3      4   5
GREScore
290                100.0        NaN NaN  104.0 NaN
293                  NaN  97.000000 NaN    NaN NaN
294                 94.0        NaN NaN    NaN NaN
295                 93.0  98.666667 NaN    NaN NaN
296                101.0  97.500000 NaN    NaN NaN

In [90]:
correlation_matrix = ratings_pivot.corr(method='pearson')    
correlation_matrix.head(10)

University_Rating         1         2         3         4         5
University_Rating
1                  1.000000  0.255647  0.501127 -0.936778 -1.000000
2                  0.255647  1.000000  0.696023  0.628653  0.883130
3                  0.501127  0.696023  1.000000  0.731761  0.779559
4                 -0.936778  0.628653  0.731761  1.000000  0.785751
5                 -1.000000  0.883130  0.779559  0.785751  1.000000

In [92]:
OneManOut_rating = ratings_pivot[3]    
OneManOut_rating[OneManOut_rating>=0]

GREScore
298    105.000000
299     99.666667
300    101.500000
301    103.666667
302    102.000000
303    100.500000
305    112.000000
307    104.000000
308    107.500000
309    103.500000
310    104.333333
311    103.750000
312    105.600000
313    103.111111
314    107.200000
315    105.000000
316    106.666667
317    106.333333
318    108.833333
319    108.142857
320    107.166667
321    109.833333
322    108.500000
323    109.166667
324    109.000000
325    109.500000
326    112.000000
327    110.200000
330    114.000000
331    120.000000
Name: 3, dtype: float64

In [64]:
# Checking the data using head function 
#training dataset by splitting
str(data)
data.head()
from sklearn.model_selection import train_test_split
#x=data.iloc[:,:1].values
#y=data.iloc[:,:-1].values
y=data.Admit
x=data.drop('Admit',axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [54]:
x_train.shape

(319, 8)

In [55]:
x_test.shape

(80, 8)

In [11]:
x_test.head()

,Serial No.,GREScore,TOEFLScore,University Rating,SOP,LOR,CGPA,Research
4,5,314,103,2,2.0,3.0,8.21,0
24,26,340,120,5,4.5,4.5,9.60,1
367,369,298,92,1,2.0,2.0,7.88,0
174,176,320,111,4,4.5,3.5,8.87,1
88,90,316,109,4,4.5,3.5,8.76,1

In [12]:
y_test.shape

(80,)

In [13]:
y_test.head()

4      0.65
24     0.94
367    0.51
174    0.85
88     0.74
Name: Admit, dtype: float64

In [14]:
y_train.head()

382    0.62
204    0.57
259    0.87
389    0.64
202    0.97
Name: Admit, dtype: float64

In [15]:
len(y_test)

80

In [16]:
##########################################EXECUTED CODE
from sklearn.linear_model import LinearRegression as lm
model=lm().fit(x_train,y_train)
predictions=model.predict(x_test)
#print(x_test)
import matplotlib.pyplot as plt
plt.scatter(x_test['GRE Score'],predictions)

KeyError: 'GRE Score'

In [ ]:
plt.xlabel('GRE Score')

In [ ]:
plt.ylabel('Admit')

In [ ]:
plt.show()

In [ ]:
# getting the description of rating
#user_rating.describe()

In [ ]:
# sorting based on no of ratings that each university got
#user_rating.sort_values('CGPA ', ascending=False).head()

In [ ]:
# Preparing data table for analysis
#user_rating= pd.pivot_table(data=data,values='GRE Score', index='CGPA',columns='Admit')
#user_rating.head()

In [ ]:
#correlation_matrix  = user_rating.corr(method='pearson')
#correlation_matrix.head(5)

In [ ]:
# getting the cgpa who has admit prediction of 0.9 this particular univ and making sure rating is not zero
#OneManOut_rating = user_rating[0.9]
#OneManOut_rating[OneManOut_rating>0]

In [ ]:

#training the dataset by using linear regression method
#from sklearn.linear_model import LinearRegression as lm
#from sklearn.metrics import accuracy_score
#model=lm().fit(x_train,y_train)


#print(model.score(predictions,y_test))
#%matplotlib inline
#import matplotlib.pyplot as plt
#plt.scatter(y_test,predictions)

#plt.plot(x_test,y_test,color='red')

In [ ]:
#printing metrics of linear regression like coeficient

from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

predictions=model.predict(x_test)


#printing accuracy by linear regresssion

print('accuracy of linear regression is',model.score(x_test,y_test))
#mean_squared_error(predictions,y_test)
predictions.shape
print(predictions)
#print(accuracy_score(y_test,predictions))

In [ ]:
print(model.coef_)

In [ ]:
print(model.intercept_)

In [ ]:
plt.xlabel('GRE Score')
plt.ylabel('Admit')
plt.plot(range(60), range(60))
plt.show()

plt.savefig('abc.jpg')

In [ ]:

#predictions by using linear regression
df=pd.DataFrame(y_test,predictions) 

df.head(10)

In [ ]:
#print(model.accuracy_score(predictions))
#print(model.accuracy_score)

In [ ]:
#implementation by Support vector machine

In [ ]:
import pandas as pd

In [ ]:
data1 = pd.read_csv('Admission_predict_Ver1.1.csv', encoding = 'latin-1')
#u = pd.read_csv('Admission_predict.csv', encoding = 'latin-1')

In [ ]:
#X.head

In [ ]:
#from sklearn.model_selection import train_test_split
#x=data.iloc[:,:1].values
#y=data.iloc[:,:-1].values
y=data1.Admit
X=data1.drop('Admit',axis=1)
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

#y.head
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=12)

In [ ]:
#

In [ ]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

In [17]:
#making Prediction
y_pred = svclassifier.predict(X_test)
y_test.head(10)

NameError: name 'svclassifier' is not defined

In [18]:
from sklearn import neighbors, datasets, preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [19]:
#evaluating the algorithm
from sklearn.metrics import classification_report, confusion_matrix

print('ACCURACY OF SUPPORT VECTOR MACHINE IS',accuracy_score(y_test,y_pred)*100,'%')
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

NameError: name 'y_pred' is not defined

In [41]:
import tkinter as tk
from tkinter.filedialog import askopenfilename
import pandas as pd


def import_csv_data():
    global v
    csv_file_path = askopenfilename()
    print('Admisiion_Predict.csv')
    v.set('Admission_Predict.csv')
    df = pd.read_csv('Admission_Predict.csv')
    

root = tk.Tk()
tk.Label(root, text='Admission.csv').grid(row=0, column=0)
v = tk.StringVar()
entry = tk.Entry(root, textvariable=v).grid(row=0, column=1)
tk.Button(root, text='Browse Data Set',command=import_csv_data).grid(row=1, column=0)
tk.Button(root, text='Close',command=root.destroy).grid(row=1, column=1)
root.mainloop()