In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('Admission_Predict_Ver1.1.csv')
data=data.drop('Serial No.',axis=1)
data.head()

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Admit
0        337          118                  4  4.5   4.5  9.65      1
1        324          107                  4  4.0   4.5  8.87      1
2        316          104                  3  3.0   3.5  8.00      1
3        322          110                  3  3.5   2.5  8.67      1
4        314          103                  2  2.0   3.0  8.21      0

In [14]:
from sklearn.model_selection import train_test_split
x=data.drop('Admit',axis=1)
y=data.Admit
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.2)

# Train 
Train and select models in this phase. 

I am using SVC for now.

You can use any model you prefer

In [15]:
from sklearn.svm import SVC
svc=SVC(random_state=42)
svc.fit(x_train,y_train)
svc.score(x_test,y_test)

0.72

# Save for making predictions
Set the model variable with the model of your choice

In [16]:
model=svc
model.fit(x,y)

In [17]:
from joblib import dump
dump(model,'model.jbl')

0.72